# Environment
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Output files
output/


# Temporary files
*.tmp
*.temp
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Images directory (if used for temporary storage)
images/

# Draft directory
draft/

frontend/node_modules
frontend/dist

logs
uploads
.vite
